<h3>Política de devoluciones</h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <ul>
      <li>Al momento de comprar nuestros productos, debe verificar que todo esté completo y correcto.</li>
      <li>Si no se encuentra satisfecho con nuestros productos, tiene <strong> {{ diasDevolucion }} días para devolver los productos intactos </strong> y así optar a una devolución</li>
      <li>Para optar a una devolución, el monto mínimo de su compra debe ser al menos de <strong>C$ {{ montoMinimo | number:'2.2-2' }}</strong></li>
      <li>El porcentaje de reembolso por su compra en devolución será de hasta un <strong>{{ porcentajeReembolso | percent:'2.2-2' }} del monto de la compra.</strong></li>
      <li>El monto máximo de reembolso por su devolución será como máximo de <strong>C$ {{ montoMaximo | number:'2.2-2' }}</strong></li>
    </ul>
  </div>
</div>
